.SubmitQuoteForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.SubmitQuoteForm input {
    margin: 20px 0;
}

.SubmitQuoteCategory, .SubmitQuoteMsg {
    font-size: 20px;
    text-align: center;
}
.SubmitQuoteForm select, input {
    padding: 10px;
    width: 200px;
}

.SubmitQuoteForm textarea {
    margin-bottom: 20px;
}

.SubmitQuoteForm label {
    display: flex;
    align-items: center;
    margin: 0 20px;
}
