a {
    display: flex;
    justify-content: center;
    font-size: 24px;
}

.QuotesWrapper {
    border: 2px solid black;
    padding: 20px;
    max-width: 600px;
    margin: 10px auto;
    border-radius: 10px;
}

.EditBtn, .DeleteBtn {
    display: inline-block;
    margin: 0 10px;
}