.EditWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    font-size: 24px;
}

.EditWrapper label {
    display: flex;
    align-items: center;
}

.EditWrapper select, input {
    padding: 10px;
    width: 200px;
    margin: 20px;
}


.EditWrapper textarea, input {
    margin: 0 80px 20px 0;
}