.Category {
    text-align: center;
    font-weight: 600;
    font-size: 24px;
    text-transform: uppercase;
}

.QuotesWrapper {
    border: 2px solid black;
    padding: 20px;
    max-width: 600px;
    margin: 10px auto;
    border-radius: 10px;
    font-weight: 600;
    font-size: 20px
}